@model GSLLS.Models.Language

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Language</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Culture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Culture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProficiencyLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProficiencyLevel)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> <span>|</span>
    }
    <a asp-action="Index">Back to List</a>
</div>